 <header>
		<%= link_to logo, root_path %>
		<div class="round nav nav_top">
			<ul>
	<li><%= link_to "Home", root_path %></li>
	<li><%= link_to "About", about_path %></li>
	<li> <%= link_to "Contact", contact_path%> </li>
	<li><%= link_to "sign in", signin_path %></li>
</ul>
		</div>		
	</header>